// Animering för att förstora
@keyframes scaleup {
    from {transform: scale(1);}
    to {
        transform: scale(1.25);
        opacity: 0.5;
    }
}

.bigcircle {
    animation-name: scaleup;
    animation-duration: 35s;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

// Animering för att förminska
@keyframes scaledown {
    from {transform: scale(1);}
    to {
        transform: scale(0.75);
        transform: (translate(350px, -450px));
    }
}

@keyframes scaledown_phone {
    from {transform: scale(1);}
    to {
        transform: scale(0.75);
        transform: (translate(50px, -200px));
    }
}

.smallcircle {
    animation-name: scaledown;
    @include phone {
        animation-name: scaledown_phone;
    }
    animation-duration: 28s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

// Animering för att markera CTA-knapp
@keyframes cta {
    0% {
        box-shadow: 0 0 0 0 white;
    }
    5% {
        box-shadow: 0 0 15px 5px white;
    }
    20% {
        box-shadow: 0 0 0 0 white;
    }
    100% {
        box-shadow: 0 0 0 0 white;
    }
}

.ctabtn {
    animation-name: cta;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}