// LAYOUT
// Webbplatsens generella layout

// Bakgrundsfärg och grundinställningar
body {
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 6.5%;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    @include phone {
        padding: 5%;
    }
}

// Bakgrundscirklar
.bigcircle {
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: -100;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: transparentize($comp-color, 0.7);

    @include phone {
        width: 400px;
        height: 400px;
        top: -100px;
        left: -100px;
    }
}

.smallcircle {
    position: absolute;
    bottom: 0vh;
    left: 40vh;
    z-index: -200;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: transparentize($base-color, 0.8);
    overflow: hidden;
    

    @include phone {
        left: -5vw;
        bottom: 0;
    }
}

.backgroundimg {
    position: fixed;
    object-fit: cover;
    border-radius: 50%;
    width: 115vh;
    height: 115vh;
    right: -35vh;
    top: -7.5vh;
    z-index: -100;

    @include phone {
        width: 105vw;
        height: 105vw;
        top: 50vh;
        right: -15vw;
    }
}

// Huvudmenyn
nav {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    max-width: 225px;
    border-radius: 25px;
    padding: 45px;
    padding-top: 25px;
    padding-right: 25px;
    z-index: 500;

    @include phone {
        top: 30px;
        right: 30px;
    }

        // Menyknapp
        #menubtn {
            float: right;
            background: none;
            box-shadow: none;
            border-radius: 50%;
            color: #F1F1F1;
            img {
                width: 40px;
                height: 40px;
            }
        }
        
    // Menylistan
    ul {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        margin-top: 75px;

        li {

            a {
                text-decoration: none;
                color: $dark-text;
                font-weight: 500;
            }
        }
    }
}

// Call-to-action-sektion
.cta {
    margin-top: 20vh;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    width: 500px;

    @include phone {
        margin-left: 0;
    }
    
    h1 {
        margin-bottom: 2%;
    }
    
    button {
        width: 300px;
        height: 50px;
        font-size: 1.2rem;
        img {
            margin-right: 10px;
        }
    }
}

// Knapp för mörkt läge
.darkmodebtn {
    @extend #menubtn;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: $dark-text;
    box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.3);
    margin-left: 30px;
    height: 35px;
    width: 35px;
    padding: 0;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background: lighten($color: $dark-text, $amount: 10);
        transform: scale(1);
    }
}